BankServiceClient/Connected Services/ServiceReference/BanknotesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53386/BanknotesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankService.ServiceDomain" />
  <xs:element name="GetAllInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankService.ServiceDomain" minOccurs="0" name="GetAllInfoResult" nillable="true" type="q1:ArrayOfBanknoteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBanknote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="denomination" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBanknoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBanknoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>