BankServiceClient/Connected Services/ServiceReference/BanknotesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankService.ServiceDomain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankService.ServiceDomain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBanknoteModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BanknoteModel" nillable="true" type="tns:BanknoteModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBanknoteModel" nillable="true" type="tns:ArrayOfBanknoteModel" />
  <xs:complexType name="BanknoteModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Denomination" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BanknoteModel" nillable="true" type="tns:BanknoteModel" />
</xs:schema>