BankServiceClient/Connected Services/ServiceReference/BanknotesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BanknotesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53386/BanknotesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53386/BanknotesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53386/BanknotesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankService.ServiceDomain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBanknotesService_GetAllInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInfo" />
  </wsdl:message>
  <wsdl:message name="IBanknotesService_GetAllInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IBanknotesService_AddBanknote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBanknote" />
  </wsdl:message>
  <wsdl:message name="IBanknotesService_AddBanknote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBanknoteResponse" />
  </wsdl:message>
  <wsdl:portType name="IBanknotesService">
    <wsdl:operation name="GetAllInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBanknotesService/GetAllInfo" message="tns:IBanknotesService_GetAllInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBanknotesService/GetAllInfoResponse" message="tns:IBanknotesService_GetAllInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBanknote">
      <wsdl:input wsaw:Action="http://tempuri.org/IBanknotesService/AddBanknote" message="tns:IBanknotesService_AddBanknote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBanknotesService/AddBanknoteResponse" message="tns:IBanknotesService_AddBanknote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBanknotesService" type="tns:IBanknotesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllInfo">
      <soap:operation soapAction="http://tempuri.org/IBanknotesService/GetAllInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBanknote">
      <soap:operation soapAction="http://tempuri.org/IBanknotesService/AddBanknote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BanknotesService">
    <wsdl:port name="BasicHttpBinding_IBanknotesService" binding="tns:BasicHttpBinding_IBanknotesService">
      <soap:address location="http://localhost:53386/BanknotesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>